* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    margin:  0;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(199, 232, 235, 0.5)), to(rgba(199, 232, 235, 0.5))), url('../img/about-2.jpg');
    background-image: linear-gradient(rgba(199, 232, 235, 0.5), rgba(199, 232, 235, 0.5)), url('/img/about-2.jpg');
    background-size: cover;
    background-position: center;
    
}

.padding {
    padding: 60px 40px;
}

.row {
    max-width: 1140px;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column-2 {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}


/*------------------------------------
---            NAVBAR              ---
-------------------------------------*/

nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px #cacaca;
    box-shadow: 0 2px 2px #cacaca;
}

.nav-row {
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
}

.toggle-menu {
    float: left;
    width: 10%;
}

.logo {
    float: left;
    height: 45px;
    width: auto;
    margin-top: 10px;
}

nav ul {
    width: 90%;
    height: inherit;
    list-style: none;
    text-align: right;
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 15px 8px;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #464646;
    padding: 0 0 8px ;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

nav ul li a:hover,
nav ul li a:active {
    border-bottom: 2px solid #ff66b3;
}


/*---- Mobile navi ----*/
.toggle-btn {
    float: right;
    cursor: pointer;
    display: none;
    margin-top: 10px;
}

.toggle-btn i {
    font-size: 200%;
}

/*------------------------------------
---              FORM              ---
-------------------------------------*/

h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    margin: 12px 0;
    font-size: 140%;
}

p {
    width: 80%;
    margin: 0 auto;
}

.container {
    max-width: 680px;
    margin: 60px auto 0;
    padding: 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 4px #666;
    box-shadow: 0 2px 4px #666;
}

.container p {
    text-align: center;
    font-size: 90%;
    margin-bottom: 35px;
}

.error {
    color: #ff66b3;
    font-weight: 400;
    font-size: 105%;
    margin-left: 5px;
    position: relative;
    top: -5px;
}

input:not(#submit-btn), .error {
    display: inline-block;
}

label, select, textarea {
    display: block;
}

input, label, select, textarea, .error{
    font-family: 'Lato', 'Arial', sans-serif;
}

input {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cacaca;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #ff66b3;
    border-radius: 4px;
}
 
input[type="submit"] {
    width: 120px;
    font-size: 90%;
    font-weight: 300;
    padding: 8px 10px;
    color: #fff;
    background-color: #ff66b3;
    border: 1px solid #ff66b3;
    border-radius: 200px;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
    margin-top: 15px;
    margin-left: 5%;
}

input[type="submit"]:hover {
    color: #ff66b3;
    background-color: #fff;
    border: 1px solid #ff66b3;
}

label {
    text-align: left;
    width: 80%;
    margin: 10px auto;
    font-weight: 400;
    font-size: 80%;
}

select {
    display: inline-block;
    width: 200px;
    margin-left: 10%;
    padding: 5px;
    border-radius: 4px;
}

select:focus {
    outline: none;
}


textarea {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
    height: 100px;
}

p.required {
    text-align: right;
    font-size: 70%;
    color: #ff66b3;
    margin-bottom: 0;
}

p.error-message {
    font-size: 60%;
    color: #ff66b3;
    margin-bottom: 0;
}


/*---- Submit message ----*/

p.submit-message {
    margin-bottom: 0;
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}

.yoga-class, 
.email {
    font-style: italic;
}

em {
    color: #ff66b3;
}
