
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        padding: 0 100px;
    }

    /*---- About ----*/
    .flex-container {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .box {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 460px;
        flex: 0 1 460px;
    }
}


@media only screen and (max-width: 1024px) {

    /*---- Pricing ----*/
    .section-pricing .row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .column-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 310px;
        flex: 0 0 310px;
        padding: 15px 30px;
    }

    .plan-box {
        padding: 10px;
    }
}

@media only screen and (max-width: 992px) {

    /*---- About ----*/
    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
    }

    .box-2 {
        padding: 0 20px;
    }

    .grid-container {
        width: 450px;
        margin: 40px auto;
        -ms-grid-columns: repeat(9, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }


    .grid-container li:first-child {
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1/span 5;

    }

    .grid-container li:last-child {
        -ms-grid-column: 5;
        -ms-grid-column-span: 5;
        grid-column: 5/span 5;

    }

    /*---- Teachers ----*/
    .teacher-info {
        padding: 10px 20px;
        font-size: 90%;
    }

    /*---- Contact ----*/
    .about,
    .contact-info {
        font-size: 90%;
    }

    .newsletter input {
        width: 190px;
        padding: 8px;
    }

    .social-icon {
        font-size: 180%;
    }

}



@media only screen and (max-width: 768px) {

    /*---- Header ---- */
    
    nav {
        position: relative;
        height: auto;
        z-index: 1000;
    }


    .nav-row {
        margin: 0;
        height: 60px;
    }

    .toggle-menu {
        display: block;
        width: 100%;
        padding: 0 15px;
    }

    .logo {
        height: 40px;
        width: auto;
        margin-top: 10px;
    }

    .toggle-btn {
        display: inline-block;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .active {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .white-bg {
        background-color: #fff;
        height: 375px;
    }

    .hero-text-box {
        padding: 0 70px;
      }

    h1 {
        font-size: 170%;
    }

   

    /*---- About ----*/
    .box {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
    }

    .box-1 {
        padding: 0 30px 30px;
    }

    .box-1 p {
        font-size: 90%;
    }

    .box-2 {
        padding: 0;
        margin-top: 10px;
    }

    .grid-container {
        width: 370px;
        margin: 30px auto 0;
    }


    /*---- Schedule ----*/
    table {
        display: none;
    }

    .schedule-container {
        display: block;
    }


    /*---- Teachers ----*/

    .teacher-info {
        padding: 10px 60px 25px;
    }

    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .column-3 {
        -webkit-box-flex: 0 0 320px;
        -ms-flex: 0 0 320px;
        flex: 0 0 320px;
    }


    /*---- Pricing ----*/
    .column-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
        flex: 0 0 400px;
    }

    .plan-box {
        max-width: 400px;
        margin: 0 auto;
        min-height: 370px;
    }

    #submit-btn {
        margin-left: 10%;
    }


    /*---- Contact ----*/
    footer .row:last-of-type {
        align-items: center;
    }

    .about {
        margin: 0;
        width: 250px;
        line-height: 140%;
    }

    .newsletter input {
        width: 260px;
        padding: 8px;
    }

    .social-icon {
        font-size: 160%;
    }
}



@media only screen and (max-width: 480px) {

    .hero-text-box {
        padding: 0 50px;
    }

    h1 {
        font-size: 140%;
    }


    /*---- About ----*/
    .box-1 {
        padding: 0 10px 30px;
    }

    .box-2 {
        padding: 0 ;
    }

    .box-1 p {
        font-size: 80%;
    }

    .grid-container {
        width: 100%;
        margin: 30px auto 0;
    }

    .slide {
        margin: 0 15px;
    }

    .slide-item {
        margin: 4px;
    }

      /*---- Teachers ----*/
      .teacher-info {
        padding: 10px 40px 25px;

    }

}