
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    background-color: #fff;
    margin:  0;
}

.padding {
    padding: 60px 40px;
}

.row {
    max-width: 1140px;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column-3 {
    -webkit-box-flex: 33.33%;
    -ms-flex: 33.33%;
    flex: 33.33%;
}

.column-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
}


/*------------------------------------
---       REUSABLE COMPONENTS      ---
-------------------------------------*/

/* ----------  HEADINGS ------------*/
h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-weight: 300;
    word-spacing: 4px;
    color: #464646;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    font-weight: 400;
    margin: 30px 0;
}

h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: #fff4ff;
}

h4 {
    margin: 10px 0;
}

h5 {
    margin: 10px 0;
    color: #ff66b3;
}

/* ----------  PARAGRAPHS ----------*/
.slide-item p {
    text-align: center;
    font-size: 80%;
    margin: 0;
    padding: 0 20px 30px;
}

.teacher-info {
    text-align: center;
    padding: 10px 30px;
}


/* ----------  BUTTONS ------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 200px;
    padding: 6px 15px;
    -webkit-transition: color 0.3s, border 0.3s, background-color 0.3s;
    transition: color 0.3s, border 0.3s, background-color 0.3s;
}

.btn-pink:link,
.btn-pink:visited {
    color: #fff;
    background-color: #ff66b3;
    border: 1px solid #ff66b3;
    font-size: 90%;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #fff;
    color: #fff;
    background-color: none;
}

.btn:hover,
.btn:active {
    background-color: #fff;
}

.btn-pink:hover,
.btn-pink:active {
    color:#ff66b3;
    border: 1px solid #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #fff;
    color: #ff66b3;
    background-color: none;
}


/*------------------------------------
---            HEADER              ---
-------------------------------------*/
header {
    background-image: url('/css/img/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero-text-box {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY( -50%);
    transform: translateY( -50%);
    padding: 0 120px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

.nav-row {
    width: 100%;
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
    height: inherit;
}

.toggle-menu {
    float: left;
    width: 10%;
}

.logo {
    float: left;
    height: 45px;
    width: auto;
    margin-top: 10px;
}

nav ul {
    width: 90%;
    height: inherit;
    list-style: none;
    text-align: right;
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 15px 8px;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #464646;
    padding: 0 0 8px;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

nav ul li a:hover,
nav ul li a:active {
    border-bottom: 2px solid #ff66b3;
}


/*---- Mobile navi ----*/
.toggle-btn {
    float: right;
    cursor: pointer;
    display: none;
    margin-top: 10px;
}

.toggle-btn i {
    font-size: 200%;
}


/*---- Sticky navi ----*/
.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px #cacaca;
    box-shadow: 0 2px 2px #cacaca;
}



/*------------------------------------
---        ABOUT SECTION         ---
-------------------------------------*/
.section-about {
    min-height: 590px;
}

.box span {
    display: block;
    font-size: 50%;
    text-transform: lowercase;
}

.box span > span {
    display: block;
    color: #ff66b3;
    font-size: 120%;
    text-transform: capitalize;
    font-style: italic;
}


.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; 
    -ms-flex-pack: distribute;    
    justify-content: space-around;
    margin: 0 auto;
}

.box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
    height: 410px;
}

.box-1 {
    padding: 0 40px 30px;
}

.box-2 {
    padding: 0 0 0 20px;
}

.box-1 p {
    text-align: center;
}

.img-1 {
    width: 100%;
    outline: 4px solid #fff;;
}

.img-2  {
    width: 100%;
}

.grid-container {
    list-style: none;
    margin-top: 80px;
    display:-ms-grid;
    display: grid;
    -ms-grid-columns: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.grid-container li:first-child {
    -ms-grid-column: 1; 
    -ms-grid-column-span: 4;
    grid-column: 1/span 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4/span 4;
    z-index: 10;
}

.grid-container li:last-child {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/span 4; 
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/span 4;
}


/*------------------------------------
---        CLASSES SECTION         ---
-------------------------------------*/
.section-classes {
    min-height: 730px;
    background-color:  #fafafa;
}

.section-classes .row {
    height: 440px;
}

.section-classes .column {
    margin: 10px;
    padding: 15px;
}

.slide-container {
    position: relative;
    max-width: 1000px;
    height: auto;
    margin: 30px auto;
}

.slide {
    margin: 0 30px;
}

.slide-item {
    margin: 6px;
    background-color: #f5adc6;
    text-align: center;
    width: 300px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}



/*------------------------------------
---       TEACHERS SECTION        ---
-------------------------------------*/
.section-teachers {
    min-height: 650px;
}

.teacher-img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto;
}

span {
    display: block;
    text-align: center;
    font-weight: 400;
}

span.simple-text {
    text-transform: uppercase;
    font-size: 70%;
    padding: 5px 0;
    font-weight: 300;
    color: #ff66b3;
}




/*------------------------------------
---        SCHEDULE SECTION        ---
-------------------------------------*/
.section-schedule {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(199, 232, 235, 0.4)), to(rgba(199, 232, 235, 0.4))), url('/css/img/schedule-bg.jpg');
    background-image: linear-gradient(rgba(199, 232, 235, 0.4), rgba(199, 232, 235, 0.4)), url('/css/img/schedule-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 750px;
}

table {
    margin: 0 auto;
    display: block;
}

td {
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    cursor: default;
    width: 120px;
    vertical-align: top;
}

td.fixed {
    vertical-align: middle;
}

td:hover:not(.fixed) {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
}

th {
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(85, 85, 85, 0.8);
    color: #f9f2ec;
    padding: 10px;
}

th:first-of-type {
    background-color: transparent;
}

.time, 
.teacher {
    display: block;
    font-weight: 300;
    font-size: 80%;
    margin: 10px 0;
}

.teacher {
    font-weight: 400;
    font-size: 70%;
}

.color-1 {
    background-color: rgba(85, 85, 85, 0.7);
    color: #f9f2ec;
    width: 50px;
}


/*---- Mini Schedule ----*/
.schedule-container {
    display: none;
}

.schedule-small {
    margin-top: 50px;
}

.day-classes {
    display: block;
}

.day-classes:not(:last-of-type) {
    margin-bottom: 40px;
}

.day-classes ul {
    list-style: none;
}

.day-classes ul li {
    background-color: rgba(245, 173, 198, 0.9);
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
    margin-top: 10px;
}

.day-classes div {
    display: inline-block;
    font-size: 75%;
    font-weight: 400;
}

.day-classes h3 {
    text-shadow: 2px 0 2px #555;
}


/*------------------------------------
---         PRICING SECTION        ---
-------------------------------------*/
.section-pricing {
    min-height: 700px;
    background-color: #fafafa;
}

.section-pricing .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.plan-box {
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px #555;
    box-shadow: 0 2px 4px #555;
    padding: 10px 15px;
    min-height: 420px;
    margin: 0 10px;
}

.plan-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 173, 198, 0.85)), to(rgba(245, 173, 198, 0.85))), url('/img/yoga-3.jpg');
    background-image: linear-gradient(rgba(245, 173, 198, 0.85), rgba(245, 173, 198, 0.85)), url('/img/yoga-3.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.plan-box div:first-of-type {
    border-bottom: 1px solid #d8d8d8;
}

.plan-box h4 {
    text-transform: uppercase;
    word-spacing: 4px;
    font-weight: 400;
}

.plan-price {
    font-size: 180%;
    margin: 8px 0;
    font-weight: 400;
}

.plan-price span {
    display: inline-block;
    font-weight: 300;
    font-size: 50%;
}

.price {
    margin: 8px 0;
    font-size: 90%;
    color: #cacaca;
}

.price.price-1{
    color: #fff;
}

.plan-box ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.plan-box ul li {
    font-size: 80%;
    margin: 0 0 10px;
}

.plan-box ul li:last-child {
    margin-bottom: 30px;
}


/*------------------------------------
---         CONTACT SECTION        ---
-------------------------------------*/
footer {
    background-color: #555;
    color: #cacaca;
    font-size: 90%;
}

.column-padding {
    padding: 15px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

.about {
    text-align: left;
    margin-right: 50px;
}

#map-box {
    height: 200px;
    width: 190px;
    margin-top: 12px;
    border: 2px solid #cacaca;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li:first-child:after,
.contact-info li:nth-child(4):after,
.contact-info li:nth-child(6):after {
    display: block;
    content: " ";
    height: 2px;
    background-color: #ff66b3;
}

.contact-info li:first-child:after {
    width: 68px;
}

.contact-info li:nth-child(4):after {
    width: 54px;
}

.contact-info li:nth-child(6):after {
    width: 46px;
}

.newsletter li:not(:last-child) {
    margin-bottom: 15px;
}

.newsletter input {
    width: 260px;
    padding: 10px;
    border-radius: 3px;
}

.newsletter input:focus {
    outline-color:#ff66b3;
    border-color: #ff66b3;
}

.newsletter li:nth-child(3) {
    font-size: 70%;
}

.newsletter li:nth-child(3) span {
    display: inline-block;
    margin-right: 4px;
}

.social-links {
    margin: 0 auto;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child{
    margin: 0;
}

.social-links li a:link,
.social-links li a:visited {
    color: #fff4ff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li a:hover,
.social-links li a:active {
    color: #cacaca;
}

.social-icon {
    font-size: 200%;
}

.copy {
    text-align: center;
    font-size: 70%;
}




